@import "../variables/color"
@import "../variables/mixins"

.fixed-nav
  background-color: $color-white
  position: fixed
  width: 100vw
  z-index: 2

  &__content
    align-items: center
    display: flex
    height: 60px
    justify-content: space-between
    padding: 1vh

  &__list
    align-items: center
    display: flex
    min-width: 40vw
    justify-content: space-around

    +for-phone-only
      display: none

  &__item
    color: $color-typography
    cursor: pointer
    font-size: 20px
    font-weight: 400
    padding: 10px

